src/logic-app/child-process-ticket/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "id": { "type": "string" },
                            "number": { "type": "string" },
                            "subject": { "type": "string" },
                            "description": { "type": "string" },
                            "caller_name": { "type": "string" },
                            "attachments": { "type": "array" }
                        }
                    }
                }
            }
        },
        "actions": {
            "Classify_Ticket": {
                "type": "Http",
                "runAfter": {},
                "inputs": {
                    "method": "POST",
                    "uri": "@{appsetting('AI_FOUNDRY_ENDPOINT')}/openai/v1/responses",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "identity": "@{appsetting('MANAGED_IDENTITY_RESOURCE_ID')}",
                        "audience": "https://ai.azure.com"
                    },
                    "body": {
                        "agent_reference": {
                            "type": "agent_reference",
                            "name": "@{appsetting('CLASSIFIER_AGENT_NAME')}"
                        },
                        "input": [
                            {
                                "type": "message",
                                "role": "user",
                                "content": [
                                    {
                                        "type": "input_text",
                                        "text": "Classify this HR ticket:\n\nSubject: @{triggerBody()?['subject']}\nDescription: @{triggerBody()?['description']}\nCaller: @{triggerBody()?['caller_name']}"
                                    }
                                ]
                            }
                        ]
                    }
                },
                "retryPolicy": {
                    "type": "exponential",
                    "count": 3,
                    "interval": "PT10S",
                    "maximumInterval": "PT1M"
                }
            },
            "Parse_Classification": {
                "type": "ParseJson",
                "runAfter": {
                    "Classify_Ticket": ["Succeeded"]
                },
                "inputs": {
                    "content": "@{trim(replace(replace(last(body('Classify_Ticket')?['output'])?['content']?[0]?['text'], '```json', ''), '```', ''))}",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "category": { "type": "string" },
                            "subcategory": { "type": "string" },
                            "operatorGroup": { "type": "string" },
                            "language": { "type": "string" },
                            "missingInfo": { "type": "array", "items": { "type": "string" } },
                            "confidence": { "type": "number" },
                            "confidenceReasoning": { "type": "string" }
                        }
                    }
                }
            },
            "Check_Has_Attachments": {
                "type": "If",
                "runAfter": {
                    "Parse_Classification": ["Succeeded"]
                },
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@length(coalesce(triggerBody()?['attachments'], json('[]')))",
                                0
                            ]
                        }
                    ]
                },
                "actions": {
                    "Analyze_Document": {
                        "type": "Http",
                        "runAfter": {},
                        "inputs": {
                            "method": "POST",
                            "uri": "@{appsetting('AI_FOUNDRY_ENDPOINT')}/openai/v1/responses",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "identity": "@{appsetting('MANAGED_IDENTITY_RESOURCE_ID')}",
                                "audience": "https://ai.azure.com"
                            },
                            "body": {
                                "agent_reference": {
                                    "type": "agent_reference",
                                    "name": "@{appsetting('DOCUMENT_AGENT_NAME')}"
                                },
                                "input": [
                                    {
                                        "type": "message",
                                        "role": "user",
                                        "content": [
                                            {
                                                "type": "input_text",
                                                "text": "Analyze this document attached to an HR ticket.\n\nTicket Context:\nSubject: @{triggerBody()?['subject']}\nCaller Name: @{triggerBody()?['caller_name']}\nCategory: @{body('Parse_Classification')?['category']}\nSubcategory: @{body('Parse_Classification')?['subcategory']}\n\nAttachment Details:\nFilename: @{first(triggerBody()?['attachments'])?['filename']}\nContent Type: @{first(triggerBody()?['attachments'])?['content_type']}\n\nExtracted Document Text:\n@{first(triggerBody()?['attachments'])?['extracted_text']}"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "retryPolicy": {
                            "type": "exponential",
                            "count": 3,
                            "interval": "PT10S",
                            "maximumInterval": "PT1M"
                        }
                    },
                    "Parse_Document_Analysis": {
                        "type": "ParseJson",
                        "runAfter": {
                            "Analyze_Document": ["Succeeded"]
                        },
                        "inputs": {
                            "content": "@{trim(replace(replace(last(body('Analyze_Document')?['output'])?['content']?[0]?['text'], '```json', ''), '```', ''))}",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "documentValid": { "type": "boolean" },
                                    "documentType": { "type": "string" },
                                    "concerns": { "type": "array", "items": { "type": "string" } },
                                    "extractedInfo": { "type": "object" },
                                    "doctorVerified": { "type": "string" },
                                    "doctorVerificationDetails": { "type": "string" },
                                    "recommendation": { "type": "string" },
                                    "reasoningSummary": { "type": "string" }
                                }
                            }
                        }
                    },
                    "Write_Attachment_Analysis": {
                        "type": "Http",
                        "runAfter": {
                            "Parse_Document_Analysis": ["Succeeded"]
                        },
                        "inputs": {
                            "method": "PATCH",
                            "uri": "@{appsetting('SERVICEDESK_BASE_URL')}/api/incidents/@{triggerBody()?['id']}",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "body": {
                                "attachment_analysis": "@body('Parse_Document_Analysis')"
                            }
                        }
                    },
                    "Post_Document_Analysis_Note": {
                        "type": "Http",
                        "runAfter": {
                            "Write_Attachment_Analysis": ["Succeeded"]
                        },
                        "inputs": {
                            "method": "POST",
                            "uri": "@{appsetting('SERVICEDESK_BASE_URL')}/api/incidents/@{triggerBody()?['id']}/actions",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "body": {
                                "text": "[Document Analysis] File: @{first(triggerBody()?['attachments'])?['filename']}\nValid: @{body('Parse_Document_Analysis')?['documentValid']}\nType: @{body('Parse_Document_Analysis')?['documentType']}\nRecommendation: @{body('Parse_Document_Analysis')?['recommendation']}\nConcerns: @{join(body('Parse_Document_Analysis')?['concerns'], '; ')}\nSummary: @{body('Parse_Document_Analysis')?['reasoningSummary']}",
                                "author": "AI Document Analyzer",
                                "is_internal": true
                            }
                        }
                    }
                },
                "else": {
                    "actions": {}
                }
            },
            "Generate_Message": {
                "type": "Http",
                "runAfter": {
                    "Check_Has_Attachments": ["Succeeded"]
                },
                "inputs": {
                    "method": "POST",
                    "uri": "@{appsetting('AI_FOUNDRY_ENDPOINT')}/openai/v1/responses",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "identity": "@{appsetting('MANAGED_IDENTITY_RESOURCE_ID')}",
                        "audience": "https://ai.azure.com"
                    },
                    "body": {
                        "agent_reference": {
                            "type": "agent_reference",
                            "name": "@{appsetting('MESSAGE_AGENT_NAME')}"
                        },
                        "input": [
                            {
                                "type": "message",
                                "role": "user",
                                "content": [
                                    {
                                        "type": "input_text",
                                        "text": "Generate HR message for this classified ticket:\n\nOriginal Ticket:\nSubject: @{triggerBody()?['subject']}\nDescription: @{triggerBody()?['description']}\n\nClassification:\nCategory: @{body('Parse_Classification')?['category']}\nSubcategory: @{body('Parse_Classification')?['subcategory']}\nLanguage: @{body('Parse_Classification')?['language']}\nMissing Info: @{join(body('Parse_Classification')?['missingInfo'], ', ')}"
                                    }
                                ]
                            }
                        ]
                    }
                },
                "retryPolicy": {
                    "type": "exponential",
                    "count": 3,
                    "interval": "PT10S",
                    "maximumInterval": "PT1M"
                }
            },
            "Parse_Message": {
                "type": "ParseJson",
                "runAfter": {
                    "Generate_Message": ["Succeeded"]
                },
                "inputs": {
                    "content": "@{trim(replace(replace(last(body('Generate_Message')?['output'])?['content']?[0]?['text'], '```json', ''), '```', ''))}",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "hrSummary": { "type": "string" },
                            "employeeMessage": { "type": "string" },
                            "scenario": { "type": "string" }
                        }
                    }
                }
            },
            "Write_Classification_to_ServiceDesk": {
                "type": "Http",
                "runAfter": {
                    "Parse_Message": ["Succeeded"]
                },
                "inputs": {
                    "method": "PATCH",
                    "uri": "@{appsetting('SERVICEDESK_BASE_URL')}/api/incidents/@{triggerBody()?['id']}",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "status": "processed_by_ai",
                        "category": "@{body('Parse_Classification')?['category']}",
                        "subcategory": "@{body('Parse_Classification')?['subcategory']}",
                        "operator_group": "@{body('Parse_Classification')?['operatorGroup']}",
                        "language": "@{body('Parse_Classification')?['language']}",
                        "confidence": "@{body('Parse_Classification')?['confidence']}",
                        "missing_info": "@body('Parse_Classification')?['missingInfo']"
                    }
                }
            },
            "Post_HR_Summary_Internal_Note": {
                "type": "Http",
                "runAfter": {
                    "Write_Classification_to_ServiceDesk": ["Succeeded"]
                },
                "inputs": {
                    "method": "POST",
                    "uri": "@{appsetting('SERVICEDESK_BASE_URL')}/api/incidents/@{triggerBody()?['id']}/actions",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "text": "@{body('Parse_Message')?['hrSummary']}",
                        "author": "AI Classifier",
                        "is_internal": true
                    }
                }
            },
            "Post_Employee_Message": {
                "type": "Http",
                "runAfter": {
                    "Post_HR_Summary_Internal_Note": ["Succeeded"]
                },
                "inputs": {
                    "method": "POST",
                    "uri": "@{appsetting('SERVICEDESK_BASE_URL')}/api/incidents/@{triggerBody()?['id']}/actions",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "text": "@{body('Parse_Message')?['employeeMessage']}",
                        "author": "HR Assistant",
                        "is_internal": false
                    }
                }
            },
            "Response": {
                "type": "Response",
                "runAfter": {
                    "Post_Employee_Message": ["Succeeded"]
                },
                "inputs": {
                    "statusCode": 200,
                    "body": {
                        "status": "processed",
                        "ticketId": "@{triggerBody()?['id']}",
                        "classification": "@body('Parse_Classification')",
                        "message": "@body('Parse_Message')"
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}
